.about_card {
    display: flex;
    width: 80vw;
    flex-direction: row;
    margin: 3%;
    padding: 3%;
    border-radius: 50px;
    background: #e0e0e0;
    border-radius: 50px;
    background: #deddda;
    box-shadow:  20px 20px 20px #787776,
                 -20px -20px 20px #ffffff;
}

.about_card-img {
    object-fit: cover;
    /* height: 20%; */
    width: 100%;
    border-radius: 3px;
}

.about_card-info {
    padding: 2em;
}