.header {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.header>h1 {
  font-weight: 920;
  font-size: 80px;
  color: var(--color-text);
  margin-top: 2em;
  margin-bottom: .1em;
}

.subtitle {
  display: flex;
}

.subtitle>p {
  margin-left: 1em;
  padding: 0 .5em;
}

@media screen and (max-width: 700px) {
  .header>h1 {
    margin-top: 1em;
    font-size: 70px;
  }
}