h1, h2, p {
    color: var(--color-text);
}

.blog h3 {
    margin-bottom: 1.3em;
    font-size: 30px;
}

.blog-h2 {
    margin: .8em 0 .5em 0;
    font-size: 40px;
    font-weight: 920;
}

.blog div.left {
    width: 50%;
}


.md h4 {
    margin: 1rem 0 .5rem 0;
    font-size: 1.5rem;
    color: var(--color-text);
}

.md-img > img,
.md img {
    width: 100%;
    margin: 1em 0 .5em 0;
    border-radius: .2em;
    box-shadow: var(--shadow);
}

.md-img > p {
    margin-bottom: 1em;
    text-align: center;
    font-style: italic;
    filter: opacity(50%);
}

.sw section {
    padding: 1em;
    background-color: rgba(255 255 255 / .1);
    border-radius: .5em;
    /* --sw-sete-color: var(--color-text); */
}

.sw section:hover {
    transform: scale(1.05);
    --sw-sete-color: red;
    --sw-sete-font-scale: 2em;
}

.sw section span {
    color: var(--sw-sete-color);
    font-size: var(--sw-sete-font-scale);
}

#premiacao {
    margin: .7em 0 .4em 0;
}

#sw-links > a {
    display: block;
}
