#about-content {
    flex-direction: column;
}

.about-card {
    display: flex;
    flex-flow: row;
    border-radius: .5rem;
    background: #e0e0e0;
    box-shadow: 20px 20px 60px #9d9d9d, -20px -20px 60px #ffffff;
    margin: 5em 0 0 0;
    max-width: 80vw;
}

.img-place {
    background-color: rgba(0 0 0 / 0.4);
    filter: drop-shadow(.3em .3em .3em rgba(0 0 0 / 0.5));
    display: flex;
    flex-direction: row;
}

.about-img {
    width: 20vw;
    object-fit: cover;
    clip-path: circle(10em);
}

.text-place {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 5em;
    width: 70%;
    word-break: break-all;
}

#svg5 {
    width: 50rem;
}

#path200, #path201, #path202, #path203, #path204, #path205, 
#path206, #path207, #path208, #path209, #path210, #path211  {
    animation-delay: 2s;
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    animation: dash 5s alternate infinite;
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

.eu {
    font-size: 3em;
}

@media only screen and (max-width: 574px) {
    .about-card {
        flex-flow: column;
    }

    .img-place {
        justify-content: center;
    }

    .text-place {
        padding: 3em;
        width: inherit;
    }
}