* {
  margin: 0;
  padding: 0;
  --low-accent: rgba(89 89 89 / 50%);
  --color-text: #000;
  --color-bg: #fff;
  --color-highlight: #6fff00;
}

*::selection {
  color: var(--color-highlight);
  background-color: transparent;
}

html {
  background: #fff;
  background-size: 400% 400% !important;
  scroll-behavior: smooth;
  animation: FundoAnimado 20s ease infinite;
}

body {
  font-family: Pretendard, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  justify-content: center;
}

p {
  color: var(--color-text);
}

@keyframes FundoAnimado {
  0% {background-position:0% 30%}
  50%{background-position:100% 30%}
  100% {background-position:0% 30%}
}

.filter {
  filter: invert();
}


a {
  color: #0f91ff;
}

.link { 
  color: #1e40af;
  transition: color 0.1s, background-color 0.1s;
  background-color: #2563eb33;
  text-decoration: none;
  border-radius: 4px;
  padding: 0.16em 0.3em;
  margin: -0.2em 0;
  line-height: 1.7;
  white-space: nowrap;
}

.link:hover {
  background-color: #6d9bff47;
}

.wrapper {
  max-width: 60vw;
  min-width: 60vw;
}

@media (prefers-color-scheme: dark) {
  * {
      --color-text: #fff;
      --color-bg: #000;
  }

  html {
      background: linear-gradient(120deg, #000, #333);
      /* background: linear-gradient(120deg, #000, #fff); */
  }

  .link {
      color: #93c5fd;
  }

  a {
      color: #6bb0ff;
  }
}

@media screen and (max-width: 1200px) {
  main {
      width: 80%;
  }
}